body {
    /* font-family: Arial, sans-serif; All font style */
    background-color: rgb(25,26,29); /* All background colors */
    /* margin: 0; Reset default margin */
}

h1 {
    color: #ffffff;
    font-size: 88px;
    margin-top: 260px;
    margin-left: 321px;
    position: relative;
    word-wrap: break-word;
}

.second-heading {
    color: #ff0000; /* You can choose any color you want for the second heading */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    color:#9EA1A0;
    font-size:30px;
    margin-top: 400x;
    margin-left: 321px;
    position: relative;
    word-wrap: break-word;
}

.second-paragraph{
    color:#ff0000;
    position: absolute;
    top: 490px;
    left: 7px;
    z-index: -1;

}

.box {
    width: 413px;
    height: 531px;
    background-color: #ff0000;
    /* border: 1px solid black; */
    position: absolute;
    top: 110px;
    left: 1265px;
    z-index:-1;
}

.image-style {
    position: absolute;
    top: 130px;
    left: 1240px;
}

.menu {
    position: absolute;
    top: 70px;
    left: 270px;
}

.menu ul li {
    display: inline;
    margin: 0 10px;
    font-size: 30px; /* Adjust the font size as needed */
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
}

.menu ul li a:hover {
    color: #29cc00; /* Change the color on hover as desired */
    text-shadow: 10px 10px 20px #29cc00; /* Add text shadow */
}

.custom-button {
    position: absolute; /* or use relative or fixed based on your layout needs */
    top: 650px; /* adjust the value to move the button up or down */
    left: 321px; /* adjust the value to move the button left or right */
    padding: 20px 40px;
    font-size: 20px;
    background-color: rgb(25,26,29);
    color: #ffffff;
    border-radius: 50px;
    
}

.custom-button:hover {
    background-color: #ff0000; /* Change the background color on hover as desired */
    cursor: pointer;
}

