body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background: rgb(25,26,29);
    background-size: 800% 100%;
    animation: gradient 30s ease infinite;
    transition: background-color 2s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
    color: rgb(255 255 255);
    font-size: 88px;
    margin-top: 260px;
    margin-left: 321px;
    position: relative;
    word-wrap: break-word;
}

.second-heading {
    color: #732d2dea; /* You can choose any color you want for the second heading */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

p {
    color:#ffffff;
    font-size:30px;
    margin-top: 400x;
    margin-left: 321px;
    position: relative;
    word-wrap: break-word;
}

.second-paragraph{
    color: black;
    position: absolute;
    top: 490px;
    left: 7px;
    z-index: -1;

}

.image-style {
    position: absolute;
    top: -64px;
    left: 1285px;
    width: 1100px; /* Adjust the width as needed */
    height: 1020px; /* Adjust the height as needed */
}

.menu {
    position: absolute;
    top: 70px;
    left: 270px;

}

.menu ul li {
    display: inline;
    margin: 0 10px;
    font-size: 33px; /* Adjust the font size as needed */
    
}

.menu ul li a {
    text-decoration: none;
    color: rgb(176 189 168);
    text-decoration: none;
    /* padding: 5px 10px; Add padding around the links */
    /* border: 5px solid #803a3a; /* Add a border around the links */
    /* border-radius: 50px; Add rounded corners to the border */
    /* background-color: #803a3a; */ 
}

.menu ul li a:hover {
     /* Change the background color on hover */
    color: #ffffff; /* Change the text color on hover */
}

.custom-button {
    /* Styles for the custom button */
    position: absolute;
    top: 650px;
    left: 321px;
    padding: 27px 70px;
    font-size: 25px;
    background-color: #211b1b; /* Make the button transparent */
    color: rgb(212 255 187);
    /* border: 1 solid #803a3a; Add a border around the links */
    border-radius: 50px;
}

.custom-button:hover {
    /* Styles for the button on hover */
    cursor: pointer;
    color:#ffffff; /* Change the text color on hover */
}