body {
    overflow-x: hidden;
    background: rgb(25, 26, 29);
    background-size: 800% 100%;
    animation: gradient 30s ease infinite;
    transition: background-color 2s;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: rgb(212, 255, 187);
    font-size: 5vw;
    margin-top: 2vw;
}


.image-style {
    width: 60vw;
    height: auto;
    margin-top: -40px; /* Default margin-top for desktop */
    position: relative; /* Ensure the image is positioned relative to its container */
    z-index: 2; /* Place the image above the background text */
}

.menu {
    margin-top: 50px;
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 30px;
    font-size: 2vw;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(212, 255, 187);
}

.menu ul li a:hover {
    color: #ffffff;
}

.second_header::before {
    content: "Hi";
    position: absolute;
    top:1000px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100vw;
    color: #ffe6004d;
    z-index: -1;
    pointer-events: none; /* This ensures that the pseudo-element doesn't capture pointer events */
}

/* Add padding to .second_header if needed */
.second_header {
    position: relative;
    z-index: 2;
    font-family: Georgia, serif;
    padding: 0; /* Adjust the padding as needed */
}

.custom-button {
    position: relative;
    padding: 2vw 5vw;
    font-size: 2vw;
    background-color: #211b1b;
    color: rgb(212, 255, 187);
    border-radius: 50px;
    margin-top: 2vw;
    cursor: pointer; /* Use "pointer" for a hand cursor */
}

@media (max-width: 750px) {
    body {
        min-height: 95vh; /* Adjust the min-height value for the mobile view */
    }

    h1 {
        font-size: 8vw;
    }

    .image-style {
        margin-top: -40px; 
        width: 80vw; 
    }

    .menu {
        margin-top: 10px !important;
    }

    .menu ul li {
        font-size: 4vw;
        margin: 0 10px;
    }

    .custom-button {
        font-size: 4vw;
    }
    .second_header::before {
        top: 300px;

    }
    
}
