body {
    overflow-x: hidden;
    background: rgb(25, 26, 29);
    background-size: 800% 100%;
    animation: gradient 30s ease infinite;
    transition: background-color 2s;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    font-size: 5em;
    position: relative; 
    bottom: 30px; 
    color: rgb(212, 255, 187);

}

.image-style {
    width: 20vw;
    height: auto;
    margin-top: 0px; /* Default margin-top for desktop */
    position: relative; /* Ensure the image is positioned relative to its container */
    background-color: #ffffff;
    padding: 4px;    
}
.menu {
    margin-top: -140px;
}

.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline;
    margin: 0 30px;
    font-size: 2vw;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(212, 255, 187);
}

.menu ul li a:hover {
    color: #ffffff;
}

/* Example of a media query for smaller screens */
@media screen and (max-width: 600px) {
    .image-style {
        width: 100%;
    }
    .menu {
        margin-top: 0px;
    }
    
    .menu ul li {
        margin: 0 2.6vw;
        font-size: 4vw;
    }
    h1 {
        font-size: 1em;
        bottom: 0px;
        color: rgb(212, 255, 187);
        text-align: center; 
        
    }
    p {
        font-size: 1em;
        bottom: -10px;
        color: #ffffff;
        text-align: center; 
        
    }
}
