body {
    background-color: rgb(25, 26, 29);
    margin: 0;
    text-align: center;
}

h1 {
    color: rgb(212, 255, 187);
    font-size: 6vw;
    margin-top: 6vw;
    position: relative;
}

p {
    color: white;
    font-size: 2vw;
    margin-top: 2vw;
    position: relative;
}

.menu {
    margin-top: 70px;
    text-align: center;
}

.menu ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu ul li {
    display: inline;
    margin: 0 1.5vw;
    font-size: 2vw;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(212, 255, 187);
}

.menu ul li a:hover {
    color: #ffffff;
}

/* Styles for the Footer */
footer {
    margin-top: 7vw;
}

.social-media {
    display: inline-block;
    margin: 0 1vw;
    transition: transform 0.3s ease; /* Smooth transition */
}

.social-media:hover {
    transform: scale(1.1); /* Add a slight scale effect on hover */
}

.social-media img {
    width: 50px; /* Adjust the width as needed */
}

.social-media span {
    color: white;
    font-size: 1.5vw;
    display: block;
    margin-top: 0.5vw;
}

footer p {
    color: white;
    font-size: 1.5vw;
    margin-top: 2vw;
}

@media screen and (max-width: 600px) {
    .menu {
        margin-top: 54px; /* Adjust the margin as needed */
    }
 margin: 0 2.6vw;
    .menu ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu ul li {
        display: inline;
        margin: 10px;
        font-size: 4.1vw;
        margin: 0 2.9vw;
    }
}
